html * {
    font-family: 'Questrial', sans-serif;
    
}

.whole-top {
    flex-wrap: nowrap;
}



.big-title1 {
    
    font-weight: bolder;
    float: left;
    background-color: white;
    margin: 0px 10px 20px 0px;
    border: 10px solid tan;
    padding: 18px;
    border-radius: 20px;
    font-size: 52px;
    font-weight: bolder;
}

.nav-bar {
    overflow: hidden;
    background-color: lightskyblue;
    border-radius: 20px;
    margin: 0px 0px 20px 80px;
}

.nav-bar a {
    
    color: white;
    float: right;
    font-size: 22px;
    text-align: center;
    padding: 26px 26px;
    margin-bottom: 6px;
    display: inline-block;
    border-radius: 20px;
    
}

.nav-bar ul {
    display: inline-block;
    float: right;
}

.nav-bar a:hover {
    color: white;
    background-color: tan;
    border-radius: 20px;
}

.title {
    display: absolute;
    width: 160px;
    background-color: rgb(114, 194, 243);
    padding: 20px;
    margin: 25px 10px 25px 105px;
    border-radius: 20px;
    border: rgb(0, 152, 253) solid 5px;
    font-size: 34px;
    color: white;
    text-align: center;
    float: left;
}

.bottomFlex {
    margin-left: 325px;
    flex: wrap;
    position: relative;
    justify-content: space-between;
    align-content: center;
    
}

.bottomTitle {
    float: left;
    width: 160px;
    background-color: rgb(114, 194, 243);
    padding: 20px;
    margin: 25px;
    border-radius: 20px;
    border: rgb(0, 152, 253) solid 5px;
    font-size: 34px;
    color: white;
    text-align: center;
}

.bottomTitle a:hover {
    color: white;
}

.about-me p {
    display: inline-block;
    box-sizing: content-box;
    background-color: tan;
    width: 400px;
    padding: 30px;
    margin-bottom: 30px;
    color: white;
    border-radius: 20px;
    border: rgb(71, 47, 25) solid 10px;
    font-size: 22px;
    /* margin-left: 325px; */
    flex: none;
   
}

.family {
    display: inline-block;
    flex: none;
    margin: 30px auto auto 20px;
    border: rgb(71, 47, 25) solid 10px;
    border-radius: 20px;
    background-color: tan;
    contain: content;
}

.flexyconts {
    flex-flow: row;
}

.horiseon {
    border-radius: 50px;
    border:rgb(114, 194, 243) solid 10px;
    margin: 25px 25px 10px 0px;
    /* margin-left: 325px; */
    padding: 0px;
    width: fit-content;
    height: fit-content;
    contain: content;
    background-color: tan;
    flex: none;
    
}

.robot , .run, .comingsoon , .consolethis , .quickquackquiz , .plenty {
    border-radius: 50px;
    border:rgb(114, 194, 243) solid 10px;
    width: fit-content;
    height: fit-content;
    contain: content;
    background-color: tan;
    display: inline-block;
}

.contact-me {
    
    background-color: rgb(114, 194, 243);
    padding: 15px;
    margin-bottom: 1px;
    margin: 18px;
    border-radius: 20px;
    border: rgb(0, 152, 253) solid 5px;
    width: fit-content;
    font-size: 36px;
    font-weight: bolder;
}

@supports (display: flex) {
    @media screen and (min-width: 1920px) {
    html {
        display: flex;
        justify-content: center;
        }
    }
}